<div class="jumbotron py-3">
    <h1 class="display-4 text-center">NAME REGISTER</h1>
</div>
<app-name-detail-form></app-name-detail-form>

<!-- <div class="row">
    <div class="col-md-6">
        
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <tr > 
                    <td>{{service.postNameDetail()}}</td>
                    <td>{{service.postNameDetail()}}</td>
                </tr>
            </tbody>
        </table>
        <span>
            {{service.postNameDetail() | JSON}}
        </span>
    </div>
</div> -->


